/**
 * CS Club v1.0
 * @version 2018-10-09
 * @author Lucas Gerrits <gerril39@uwosh.edu>
 */

body {
	background-color: #D0CECE;
	margin: 0px;
	font-family: Open Sans;
}

/** HEADER BAR **/

header {
	background-color: #FEC424;
	width: 100%;
	height: 100px;
	color: #333333;
	text-align: center;
}

#header {
	border: 0px solid red;
	margin: auto auto;
	height: 100%;
	width: 600px;
}

#logo {
	height: 100%;
	float: left;
}

h1 {
	font-size: 1.8em;
	float: left;
	margin: 0px;
	margin-top: 10px;
	margin-left: 20px;
}

/** NAVIGATION **/

nav {
	background-color: #444444;
	width: 100%;
	color: #FFFFFF;
	margin-top: 0px;
}

nav ul {
	background-color: #444444;
	border: 0px solid red;
	margin: 0px auto;
	width: 715px;
	height: 45px;
	list-style-type: none;
}

nav ul li {
	background-color: #444444;
	float: left;
	margin-right: 60px;
	padding: 10px;
}

nav ul li a:link, nav ul li a:visited {
	color: #FFFFFF;
	width: 100%;
	font-size: 1.05em;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover, nav ul li a:active {
	color: #D0CECE;
	transition: 0.7s ease;
}

/** CONTENT **/

#wrapper {
	border: 0px solid #000000;
	width: 800px;
	margin: 0px auto;
	padding-top: 30px;
	padding-bottom: 50px;
	/*height: 100vh;*/
}

section {
	margin-bottom: 20px;
}

.section-header {
	font-weight: bold;
	margin-bottom: 15px;
	color: #333333;
	text-transform: uppercase;
}

.section-body {
	background-color: #FFFFFF;
	padding: 25px;
}

.section-body a:link, .section-body a:visited {
	color: #0077BF;
}

.section-body a:hover, .section-body a:active {
	color: #FEC424;
	transition: 0.7s ease;
}

.section-body ul {
	margin: 0px;
	padding-left: 15px;
	padding-top: 10px;
}

.section-body ul li {
	margin-bottom: 10px;
}

/** TEXT FORMATTING **/

.b {
	font-weight: bold;
}